.slt {
  display: block;
  @include x.hid_rel;
  select {
    height: 44px;
    padding: 0 36px 0 12px;
    border: 1px solid v.$c-dis;
    border-radius: 4px;
    background: url(v.$imgCmn + 'arrow_16_bk.svg') no-repeat right 16px center;
    cursor: pointer;
    &:focus {
      border-color: v.$c-gy800;
      background-image: url(v.$imgCmn + 'arrow_16.svg');
      outline: none;
    }
    &:disabled {
      background-image: url(v.$imgCmn + 'arrow_16_gy.svg');
      background-color: v.$c-gy50;
      border-color: v.$c-gy300;
      color: v.$c-gy400;
      cursor: default;
      opacity: 1;
    }
  }
  &.error {
    select {
      border-color: v.$c-red;
    }
  }
  &.sd select {
    height: 36px;
    font-size: 13px;
  }
}
