@use '@/styles/variables' as v;

@mixin inner {
  position: relative;
  width: v.$mx_w;
  margin: 0 auto;
}

@mixin ellip($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    overflow: hidden;
    display: -webkit-box !important;
    display: box !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    line-clamp: $line;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}

@mixin bgCmn($pos) {
  background: url(v.$imgCmn + 'ico_common.svg') no-repeat $pos;
}
@mixin bgCmn_mask($pos) {
  mask: url(v.$imgCmn + 'ico_common.svg') no-repeat $pos;
  -webkit-mask: url(v.$imgCmn + 'ico_common.svg') no-repeat $pos;
}
@mixin pos($pos) {
  -webkit-mask-position: $pos;
  mask-position: $pos;
}

@mixin en($s: 0) {
  letter-spacing: $s;
}
@mixin kr($s: -0.02rem) {
  font-family: pretendard, sans-serif;
  letter-spacing: $s;
}

@mixin transPr($prop) {
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -o-transition: $prop;
  -ms-transition: $prop;
  transition: $prop;
}
@mixin transTm($time) {
  -webkit-transition: -webkit-transform $time;
  transition: -webkit-transform $time;
  transition: transform $time;
  transition:
    transform $time,
    -webkit-transform $time;
}

@mixin fix_bk {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@mixin hid_rel {
  overflow: hidden;
  position: relative;
}
@mixin hid_abs {
  overflow: hidden;
  position: absolute;
}
@mixin hid_clr {
  overflow: hidden;
  clear: both;
}
@mixin bk_rel {
  display: block;
  position: relative;
}
@mixin bk_abs {
  display: block;
  position: absolute;
}
@mixin bk_clr {
  display: block;
  clear: both;
}
@mixin bk_hid {
  display: block;
  overflow: hidden;
}

@mixin rotate($a) {
  -webkit-transform: rotate($a + deg);
  transform: rotate($a + deg);
}
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100);
}

@mixin arr_12($color: v.$c-def, $a: 0) {
  width: 12px;
  height: 12px;
  background: $color;
  mask: url(v.$imgCmn + 'arrow_12.svg') no-repeat 0 0;
  -webkit-mask: url(v.$imgCmn + 'arrow_12.svg') no-repeat 0 0;
  transform: rotate($a + deg);
}
@mixin arr_16($color: v.$c-def, $a: 0) {
  width: 16px;
  height: 16px;
  background: $color;
  mask: url(v.$imgCmn + 'arrow_16.svg') no-repeat 0 0;
  -webkit-mask: url(v.$imgCmn + 'arrow_16.svg') no-repeat 0 0;
  transform: rotate($a + deg);
}
@mixin arr_20($color: v.$c-def, $a: 0) {
  width: 20px;
  height: 20px;
  background: $color;
  mask: url(v.$imgCmn + 'arrow_20.svg') no-repeat 0 0;
  -webkit-mask: url(v.$imgCmn + 'arrow_20.svg') no-repeat 0 0;
  transform: rotate($a + deg);
}
@mixin arr_24($color: v.$c-def, $a: 0) {
  width: 24px;
  height: 24px;
  background: $color;
  mask: url(v.$imgCmn + 'arrow_24.svg') no-repeat 0 0;
  -webkit-mask: url(v.$imgCmn + 'arrow_24.svg') no-repeat 0 0;
  transform: rotate($a + deg);
}
@mixin arr_48($color: v.$c-def, $a: 0) {
  width: 48px;
  height: 48px;
  background: $color;
  mask: url(v.$imgCmn + 'arrow_48.svg') no-repeat 0 0;
  -webkit-mask: url(v.$imgCmn + 'arrow_48.svg') no-repeat 0 0;
  transform: rotate($a + deg);
}
@mixin arr_56($color: v.$c-def, $a: 0) {
  width: 56px;
  height: 56px;
  background: $color;
  mask: url(v.$imgCmn + 'arrow_56.svg') no-repeat 0 0;
  -webkit-mask: url(v.$imgCmn + 'arrow_56.svg') no-repeat 0 0;
  transform: rotate($a + deg);
}
