//공통컬러
$c-blue: #486af4;
$c-green: #04b014;
$c-red: #ed1c24;
$c-bk: #191919;
$c-gk: #181a1d; //default
$c-sb: #54565b; //sub

$c-gy: #767676;
$c-gy2: #f1f1f5;
$c-gy3: #dbdee0;
$c-gy4: #505050;
$c-gy5: #f8f8fa;
$c-gy6: #eceff2;

$c-def: $c-gk;
$c-sub: #9fa2aa;
$c-deep: #f1f1f5;
$c-strong: #37393c;
$c-light: #f8f8fa;
$c-info: #74767c;
$c-dis: #dedee4;
$c-bd: #ecedf2;

//breakpoint
$mn_w: 1240px;
$md_w: 1420px;
$mx_w: 1700px;
$mmx_w: 2512px;
$mmx_f: 2560px;
$side_m: 24px; //side margin

//scrollbar width
$s-bar: 5px;
