
//공통컬러
$c-blue : #486AF4;
$c-green : #04B014;
$c-red : #ED1C24;
$c-bk : #191919;
$c-gk : #181A1D; //default
$c-sb : #54565B; //sub

$c-gy : #767676;
$c-gy2 : #F1F1F5;
$c-gy3 : #DBDEE0;
$c-gy4 : #505050;
$c-gy5 : #F8F8FA;
$c-gy6 : #ECEFF2;

$c-def : $c-gk;
$c-sub : #9FA2AA;
$c-deep : #F1F1F5;
$c-strong : #37393C;
$c-light : #F8F8FA;
$c-info : #74767C;
$c-dis : #DEDEE4;
$c-bd : #ECEDF2;

//breakpoint
$mn_w : 1240px;
$md_w : 1420px;
$mx_w : 1700px;
$mmx_w : 2512px;
$mmx_f : 2560px;
$side_m : 24px; //side margin

//scrollbar width
$s-bar : 5px;

