@use "@/styles/dynamic_variables" as d;

@font-face {
  font-family: pretendard;
  font-weight: 400;
  font-display: auto;
  src: url("/font/Pretendard-Regular.eot") format("eot");
  src:
    url("/font/Pretendard-Regular.eot?#iefix") format("embedded-opentype"),
    url("/font/Pretendard-Regular.woff2") format("woff2"),
    url("/font/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: pretendard;
  font-weight: 600;
  font-display: auto;
  src: url("/font/Pretendard-SemiBold.eot") format("eot");
  src:
    url("/font/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/font/Pretendard-SemiBold.woff2") format("woff2"),
    url("/font/Pretendard-SemiBold.woff") format("woff");
}
