/* LAYOUT */
html {
  overflow-y: scroll;
  &.isScroll {
    scroll-behavior: smooth;
  }
}
.isLyr body {
  overflow: hidden;
}

body * {
  scrollbar-width: v.$s-bar;
  scrollbar-color: rgba(0, 0, 0, 0.08);
  outline: none;
  &::-webkit-scrollbar {
    width: v.$s-bar;
    &-button {
      background: none;
      width: 0;
      height: 0;
    }
    &-track {
      width: v.$s-bar;
      background-color: transparent;
    }
    &-thumb {
      border-radius: v.$s-bar;
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.wrap {
  position: relative;
  width: 100%;
  min-height: 1000px;
  &.wide {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
.container {
  padding-top: 132px;
}
.contents {
  width: 100%;
  padding: 0 0 100px;
}
.area_lv1 {
  position: relative;
  width: 100%;
}
.area_lv2 {
  float: left;
}

.ir {
  display: block;
  overflow: hidden !important;
  position: absolute !important;
  top: -1000em;
  left: 0;
  z-index: -1;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  background: none !important;
  pointer-events: none;
}
.ellip {
  display: block;
  @include m.ellip(1);
}
.scrOff {
  body {
    overflow: hidden;
  }
}

.safari {
  table caption {
    display: none;
  }
  .ir {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
  }
}
.gecko.ff input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.btn-set {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  &:has(.ssd) {
    gap: 4px;
  }
}
