@charset "UTF-8";

/* RESET CSS */
html {
  overflow-y: scroll;
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: v.$c-fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: contain;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
legend,
img,
button,
select {
  margin: 0;
  padding: 0;
  color: v.$c-gk;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  font-family: pretendard, 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
  letter-spacing: -0.02rem;
  word-break: break-word;
  overflow-wrap: break-word;
}
b,
strong {
  font-weight: 600;
}
table {
  width: 100%;
  max-width: none;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
form,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
  font-weight: 400;
  font-style: normal;
}
ol,
ul,
li {
  list-style: none;
}
abbr,
acronym {
  border: 0;
}
hr {
  display: none;
}
a {
  display: block;
  font-family: inherit;
  text-decoration: none;
  color: v.$c-gk;
}
a:active {
  text-decoration: none;
}
a img {
  vertical-align: middle;
}
textarea {
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  resize: none;
}
select {
  display: block;
  position: relative;
  width: 100%;
  -webkit-background-clip: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  &::-ms-expand {
    display: none;
  }
}
input {
  vertical-align: middle;
}
button {
  display: block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: none;
  * {
    pointer-events: none;
  }
}
legend,
caption {
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption,
canvas,
summary {
  display: block;
}
iframe {
  border: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='number'] {
  display: inline-block;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type='file']::file-selector-button {
  display: none;
}
input[type='search']::-webkit-search-cancel-button {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::-ms-clear,
input::-webkit-search-cancel-button,
input::-webkit-clear-button {
  display: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:is(:-webkit-autofill, :autofill) {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

//PLACEHOLDER
input[type='text'] {
  text-overflow: ellipsis;
}
input[type='text'].placeholder {
  color: v.$c-bbb;
}
input[type='text']::-webkit-input-placeholder {
  color: v.$c-bbb;
}
input[type='text']:-moz-placeholder {
  color: v.$c-bbb;
}
input[type='text']::-moz-placeholder {
  color: v.$c-bbb;
}
input[type='text']:-ms-input-placeholder {
  color: v.$c-bbb;
}
//input[type=text]:placeholder-shown{text-overflow:ellipsis;}
textarea.placeholder {
  color: v.$c-bbb;
}
textarea::-webkit-input-placeholder {
  color: v.$c-bbb;
}
textarea:-moz-placeholder {
  color: v.$c-bbb;
}
textarea::-moz-placeholder {
  color: v.$c-bbb;
}
textarea:-ms-input-placeholder {
  color: v.$c-bbb;
}
input[type='password'].placeholder {
  color: v.$c-bbb;
}
input[type='password']::-webkit-input-placeholder {
  color: v.$c-bbb;
}
input[type='password']:-moz-placeholder {
  color: v.$c-bbb;
}
input[type='password']::-moz-placeholder {
  color: v.$c-bbb;
}
input[type='password']:-ms-input-placeholder {
  color: v.$c-bbb;
}
input::-ms-clear {
  display: none !important;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none !important;
  width: 0;
  height: 0;
}
