//@use '@/styles/variables' as v;
//@use '@/styles/mixins' as m;

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  background: v.$c-light;
  //&:hover {
  //  background: v.$c-dis;
  //}
  &.hd-compact {
    position: fixed;
    z-index: 100;
    background: #dbdbdb;
    :global {
      .btn-set {
        display: none;
      }
    }
    h1 a {
      display: flex;
      justify-content: center;
    }
    .head-gnb {
      display: none;
    }
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    @include x.kr;
    &-logo {
      &__sub {
        margin-left: 16px;
        color: rgb(32, 172, 32);
        font-size: 16px;
      }
    }
    &-gnb {
      margin-top: 20px;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        > li {
          a {
            font-weight: 600;
            font-size: 15px;
            &:hover,
            &.active {
              color: v.$c-red;
            }
          }
        }
      }
    }
    &-ctg {
      position: relative;
      &_open {
        position: relative;
        @include x.ico(24px, -28px 0, v.$c-gk);
      }
      &_layer {
        position: absolute;
        left: 0;
        top: 37px;
        z-index: 100;
        width: 200px;
        &:has(.wrp > ul > li > [aria-expanded='true']) {
          width: 400px;
        }
        &:has(.mnLyr > ul > li > [aria-expanded='true']) {
          width: 600px;
        }
        .wrp {
          overflow: hidden;
          position: relative;
          border: 1px solid v.$c-bk;
          border-radius: 2px;
          background: v.$c-fff;
        }
        li {
          // position: relative;
          > div[aria-expanded='true'] {
            z-index: 2;
            > .mnBt a {
              font-weight: 600;
              &:after {
                flex: none;
                content: '';
                display: block;
                @include x.arr_16(v.$c-def, -90);
              }
            }
          }
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
            padding: 8px 12px;
            font-size: 14px;
            line-height: 18px;
            box-sizing: border-box;
            &:hover {
              background: v.$c-light;
              font-weight: 600;
            }
          }
        }

        .mnLyr {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 200px;
          z-index: 2;
          background: v.$c-fff;
          box-sizing: border-box;
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: v.$c-dis;
            pointer-events: none;
          }
        }
      }
    }
  }
}
