.chk {
  display: block;
  position: relative;
  min-width: 24px;
  min-height: 24px;
  label {
    display: inline-block;
    position: relative;
    min-height: 24px;
    padding-left: 34px;
    color: v.$c-gk;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 24px;
    height: 24px;
    background: none;
    opacity: 0;
    cursor: pointer;
  }
  &:before {
    content: '';
    @include x.bk_abs;
    z-index: 2;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: v.$c-gy300;
    @include x.bgCmn_mask(-100px -24px);
  }
  &:after {
    content: '';
    @include x.bk_abs;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: v.$c-gy300 1px solid;
    border-radius: 2px;
    background: v.$c-fff;
    box-sizing: border-box;
  }
  &:has(input:checked) {
    label {
      color: v.$c-gk;
    }
    &:before {
      background: v.$c-fff !important;
    }
    &:after {
      border-color: v.$c-bk;
      background: v.$c-bk;
    }
  }
  &:has(input:disabled) {
    label {
      color: v.$c-gy300 !important;
      cursor: default !important;
    }
    input {
      cursor: default !important;
    }
    &:after {
      border-color: v.$c-gy300;
      background: v.$c-gy200;
    }
  }
  &:has(input:checked:disabled) {
    &:before {
      display: block;
    }
    &:after {
      border-color: v.$c-gy300 !important;
      background: v.$c-gy300 !important;
    }
  }
}
